
<br/>
<br/>
<br/>

<div class="row">
	<div class="col-12 offset-12 col-sm-4 offset-sm-4">
		<%= form_tag login_url, class: 'form' do %>

			<div class="row">
				<div class="col-12">
					<%= label_tag :email, 'Email:', class: 'form-label' %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<%= text_field_tag :email, params[:email], class: 'form-control' %>
				</div>
			</div>

			<div class="row my-1">
				<div class="col-12">
					<%= label_tag :password, 'Password:', class: 'form-label' %>
				</div>
				<div class="col-12">
					<%= password_field_tag :password, '', class: 'form-control' %>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-12">
					<%= submit_tag 'Login', class: 'btn btn-success' %>
				</div>
			</div>

		<% end %>
	</div>
</div>