<% if current_user %>
  <p>Hello, <%= current_user.name %></p>

  <%= link_to user_path(current_user.id) do %>
    User: <%= current_user.name %>
  <% end %>

  <br/>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <p> Please <%= link_to 'login', login_path %> </p>
<% end %>
