<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My App</a>
      <% if current_user %>
        <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Login", login_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </nav>
</div>